@include component(button)
  font-weight: 400
  padding: 8px 14px
  background-color: $color-shade-5
  color: $color-shade-1
  font-size: 14px
  outline: 0
  border: 0
  cursor: pointer
  border: 2px solid transparent
  +border-radius(5px)

  &:hover, &:focus
    background-color: $color-shade-6

  @include option(sm)
    padding: 4px 10px
    font-size: 12px

  @include option(lg)
    padding: 12px 18px
    font-size: 16px

  @include option(xl)
    padding: 18px 24px
    font-size: 18px

  @include option(disabled)
    cursor: default
    +opacity(0.4)
    background-color: $color-shade-5

  @include option(primary)
    background-color: $color-blue
    color: white

    &:hover, &:focus
      background-color: $color-blue-reverse

    @include option(disabled)
      background-color: $color-blue-reverse

  @include option(success)
    background-color: $color-green
    color: white

    &:hover, &:focus
      background-color: $color-green-reverse

    @include option(disabled)
      background-color: $color-green-reverse

  @include option(warning)
    background-color: $color-yellow
    color: white

    &:hover, &:focus
      background-color: $color-yellow-reverse

    @include option(disabled)
      background-color: $color-yellow-reverse

  @include option(danger)
    background-color: $color-red
    color: white

    &:hover, &:focus
      background-color: $color-red-reverse

    @include option(disabled)
      background-color: $color-red-reverse

  @include option(info)
    background-color: $color-purple
    color: white

    &:hover, &:focus
      background-color: $color-purple-reverse

    @include option(disabled)
      background-color: $color-purple-reverse

  @include option(stroke)
    border-color: $color-shade-5
    background-color: white
    color: $color-blue

    &:hover, &:focus
      border-color: $color-blue

    @include option(disabled)
      border-color: $color-shade-5

  @include option(block)
    text-align: center
    width: 100%
    display: block


